.wrapper {
  max-width: 1160px;
  margin: 0 auto; }
  .wrapper:after {
    content: '';
    display: block;
    clear: both; }

.left-column {
  float: left; }

.right-column {
  float: right; }

.pseudolink {
  font-family: FreeSetBoldCyrillic;
  color: #008f97;
  font-size: 16px;
  border-bottom: 1px dashed #008f97;
  cursor: pointer; }
  .pseudolink:hover {
    border-bottom: 1px solid #008f97; }

.mark {
  color: white;
  font-size: 13px;
  border-radius: 10px;
  background-color: #f45624;
  font-family: FreeSetBoldCyrillic;
  padding: 0 5px; }

/*# sourceMappingURL=common.css.map */
