.head {
  border-bottom: 1px solid #ecf1f5; }

.head__left,
.head__right {
  height: 80px;
  line-height: 80px; }

.head__right {
  font-size: 0; }

.logo {
  vertical-align: middle;
  text-decoration: none;
  outline: none;
  display: inline-block; }

.logo__img {
  width: 135px;
  display: block; }

.select-region {
  margin-right: 5px;
  font-size: 16px;
  margin-left: 60px;
  display: inline-block;
  vertical-align: middle; }

.phone {
  border-right: 1px solid #ecf1f5;
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.phone__icon {
  vertical-align: middle; }

.phone__value {
  margin-right: 35px;
  margin-left: 25px;
  font-size: 24px;
  color: #080a10;
  vertical-align: middle; }

.head-link {
  height: 100%;
  display: inline-block;
  border-right: 1px solid #ecf1f5;
  vertical-align: middle; }

.head-link__wrapper {
  vertical-align: bottom;
  line-height: initial;
  display: inline-block;
  text-align: center;
  padding: 0 10px 5px; }

.compare-link__wrapper {
  position: relative; }

.compare-link__count {
  position: absolute;
  right: 9px;
  top: -6px; }

.head-link__label {
  color: #080a10;
  margin-top: 10px;
  font-size: 12px; }

/*# sourceMappingURL=head.css.map */
