.select {
  height: 50px;
  width: 250px;
  position: relative;
  border-radius: 50px;
  border: 1px solid #d8d8d8;
  cursor: pointer;
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .select:after {
    content: '';
    display: block;
    position: absolute;
    top: 23px;
    right: 10px;
    width: 10px;
    height: 6px;
    background-image: url("../img/select-arrow.png"); }
  .select__placeholder {
    color: #777777;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    bottom: 4px; }
  .select_no-right-round {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .select_no-left-round {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .select_size_medium {
    height: 40px;
    padding: 15px; }
    .select_size_medium:after {
      top: 17px; }

.input {
  border: 1px solid #d8d8d8;
  height: 50px;
  padding: 5px 20px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 5px 20px 5px 20px;
  outline: none;
  border-radius: 25px;
  color: #777777;
  font-size: 14px; }
  .input_no-left-round {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .input_no-right-round {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .input::-webkit-input-placeholder {
    color: #777777;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    bottom: 4px;
    font-family: FreeSetCyrillic;
    position: relative;
    top: 2px; }
  .input::-moz-placeholder {
    color: #777777;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    bottom: 4px;
    font-family: FreeSetCyrillic;
    position: relative;
    top: 2px; }
  .input:-ms-input-placeholder {
    color: #777777;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    bottom: 4px;
    font-family: FreeSetCyrillic;
    position: relative;
    top: 2px; }
  .input:-moz-placeholder {
    color: #777777;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    bottom: 4px;
    font-family: FreeSetCyrillic;
    position: relative;
    top: 2px; }
  .input_size_medium {
    height: 40px; }

button.button {
  height: 46px;
  background: linear-gradient(to bottom, #00a0a7 0%, #007e87 100%);
  color: white;
  font-family: FreeSetBoldCyrillic;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  margin: 2px;
  text-transform: uppercase; }
  button.button:after {
    content: '';
    background: linear-gradient(to bottom, #00aeb3 0%, #006d77 100%);
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    border-radius: 25px; }
  button.button_no-left-round, button.button_no-left-round:after {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  button.button_color_orange {
    background: linear-gradient(to bottom, #f66329 0%, #f24a1f 100%); }
    button.button_color_orange:after {
      background: linear-gradient(to bottom, #f77330 0%, #f03f1a 100%); }

.slider {
  width: 270px;
  height: 2px;
  background: #d8d8d8;
  position: relative; }
  .slider__filled {
    position: absolute;
    background: #f45624;
    height: 2px; }
  .slider__handle {
    width: 12px;
    height: 12px;
    background: #f45624;
    position: absolute;
    top: -6px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25); }
    .slider__handle_inactive {
      background: #d8d8d8; }
  .slider__mark {
    position: absolute;
    top: 15px;
    cursor: pointer;
    color: #8d8d8d;
    font-size: 14px;
    white-space: nowrap; }
    .slider__mark_inactive {
      opacity: .5; }

.checkbox {
  cursor: pointer; }
  .checkbox__appearance {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #d7d8d8;
    box-sizing: border-box;
    border-radius: 3px; }
  .checkbox__input {
    opacity: 0;
    position: absolute;
    left: -9999px; }
  .checkbox__input:checked ~ .checkbox__appearance {
    border: none;
    background: url("../img/check-icon.png") no-repeat 50% 50%;
    background-color: #7dc855; }
  .checkbox__label {
    color: #777777;
    font-size: 12px; }

/*# sourceMappingURL=inputs.css.map */
