.menu {
  box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.1); }

.menu__item {
  line-height: 60px;
  font-family: FreeSetBoldCyrillic;
  color: #8f8f90;
  font-size: 16px;
  margin-left: 30px;
  text-decoration: none;
  display: inline-block; }
  .menu__item:first-child {
    margin-left: 0; }
  .menu__item:hover {
    color: #080a10; }

.menu__item_active {
  color: #080a10; }

/*# sourceMappingURL=menu.css.map */
