.minimal-prices {
  padding: 0 100px;
  margin-top: 30px;
  box-sizing: border-box;
  position: relative; }

.minimal-prices__items {
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 45px; }

.minimal-prices__left,
.minimal-prices__right {
  width: 60px;
  height: 60px;
  border: 1px solid #c8d5e1;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 23px; }

.minimal-prices__left {
  background: url("../img/arrow-left.png") no-repeat 50% 50%;
  left: 0; }

.minimal-prices__right {
  background: url("../img/arrow-right.png") no-repeat 50% 50%;
  right: 0; }

.minimal-prices-item {
  border: 1px solid #ecf1f5;
  border-radius: 15px;
  padding: 30px 20px;
  cursor: pointer;
  display: inline-block;
  margin-right: 40px; }

.minimal-prices-item_active,
.minimal-prices-item:hover {
  background-color: #ecf1f5;
  box-shadow: 0px 10px 29px -9px rgba(0, 0, 0, 0.25); }

.minimal-prices-item__month,
.minimal-prices-item__duration {
  color: #65686f;
  font-size: 14px; }

.minimal-prices-item__price {
  font-family: FreeSetBoldCyrillic;
  font-size: 16px;
  margin: 7px 0; }

/*# sourceMappingURL=minimal-prices.css.map */
