.sort {
  margin-top: 50px; }
  .sort__label {
    margin-right: 15px;
    font-size: 16px;
    vertical-align: middle; }
  .sort__field {
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
    vertical-align: middle; }
    .sort__field:hover, .sort__field_active {
      color: #008d95; }
  .sort__result-pre-page-select {
    width: 60px;
    vertical-align: middle;
    border-radius: 10px; }

/*# sourceMappingURL=sort.css.map */
