body {
  padding: 0;
  margin: 0;
  font-family: FreeSetCyrillic; }

@font-face {
  font-family: 'FreeSetCyrillic';
  src: url("../fonts/FreeSetCyrillic.ttf") format("truetype"), url("../fonts/FreeSetCyrillic.woff") format("woff"), url("../fonts/FreeSetCyrillic.woff2") format("woff2"); }
@font-face {
  font-family: 'FreeSetBoldCyrillic';
  src: url("../fonts/FreeSetBoldCyrillic.ttf") format("truetype"), url("../fonts/FreeSetBoldCyrillic.woff") format("woff"), url("../fonts/FreeSetBoldCyrillic.woff2") format("woff2"); }
@font-face {
  font-family: 'OpiumNewC';
  src: url("../fonts/OpiumNewC.ttf") format("truetype"), url("../fonts/OpiumNewC.woff") format("woff"), url("../fonts/OpiumNewC.woff2") format("woff2"); }
.select {
  height: 50px;
  width: 250px;
  position: relative;
  border-radius: 50px;
  border: 1px solid #d8d8d8;
  cursor: pointer;
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .select:after {
    content: '';
    display: block;
    position: absolute;
    top: 23px;
    right: 10px;
    width: 10px;
    height: 6px;
    background-image: url("../img/select-arrow.png"); }
  .select__placeholder {
    color: #777777;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    bottom: 4px; }
  .select_no-right-round {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .select_no-left-round {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .select_size_medium {
    height: 40px;
    padding: 15px; }
    .select_size_medium:after {
      top: 17px; }

.input {
  border: 1px solid #d8d8d8;
  height: 50px;
  padding: 5px 20px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 5px 20px 5px 20px;
  outline: none;
  border-radius: 25px;
  color: #777777;
  font-size: 14px; }
  .input_no-left-round {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .input_no-right-round {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .input::-webkit-input-placeholder {
    color: #777777;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    bottom: 4px;
    font-family: FreeSetCyrillic;
    position: relative;
    top: 2px; }
  .input::-moz-placeholder {
    color: #777777;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    bottom: 4px;
    font-family: FreeSetCyrillic;
    position: relative;
    top: 2px; }
  .input:-ms-input-placeholder {
    color: #777777;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    bottom: 4px;
    font-family: FreeSetCyrillic;
    position: relative;
    top: 2px; }
  .input:-moz-placeholder {
    color: #777777;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    bottom: 4px;
    font-family: FreeSetCyrillic;
    position: relative;
    top: 2px; }
  .input_size_medium {
    height: 40px; }

button.button {
  height: 46px;
  background: linear-gradient(to bottom, #00a0a7 0%, #007e87 100%);
  color: white;
  font-family: FreeSetBoldCyrillic;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  margin: 2px;
  text-transform: uppercase; }
  button.button:after {
    content: '';
    background: linear-gradient(to bottom, #00aeb3 0%, #006d77 100%);
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    border-radius: 25px; }
  button.button_no-left-round, button.button_no-left-round:after {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  button.button_color_orange {
    background: linear-gradient(to bottom, #f66329 0%, #f24a1f 100%); }
    button.button_color_orange:after {
      background: linear-gradient(to bottom, #f77330 0%, #f03f1a 100%); }

.slider {
  width: 270px;
  height: 2px;
  background: #d8d8d8;
  position: relative; }
  .slider__filled {
    position: absolute;
    background: #f45624;
    height: 2px; }
  .slider__handle {
    width: 12px;
    height: 12px;
    background: #f45624;
    position: absolute;
    top: -6px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25); }
    .slider__handle_inactive {
      background: #d8d8d8; }
  .slider__mark {
    position: absolute;
    top: 15px;
    cursor: pointer;
    color: #8d8d8d;
    font-size: 14px;
    white-space: nowrap; }
    .slider__mark_inactive {
      opacity: .5; }

.checkbox {
  cursor: pointer; }
  .checkbox__appearance {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #d7d8d8;
    box-sizing: border-box;
    border-radius: 3px; }
  .checkbox__input {
    opacity: 0;
    position: absolute;
    left: -9999px; }
  .checkbox__input:checked ~ .checkbox__appearance {
    border: none;
    background: url("../img/check-icon.png") no-repeat 50% 50%;
    background-color: #7dc855; }
  .checkbox__label {
    color: #777777;
    font-size: 12px; }

.wrapper {
  max-width: 1160px;
  margin: 0 auto; }
  .wrapper:after {
    content: '';
    display: block;
    clear: both; }

.left-column {
  float: left; }

.right-column {
  float: right; }

.pseudolink {
  font-family: FreeSetBoldCyrillic;
  color: #008f97;
  font-size: 16px;
  border-bottom: 1px dashed #008f97;
  cursor: pointer; }
  .pseudolink:hover {
    border-bottom: 1px solid #008f97; }

.mark {
  color: white;
  font-size: 13px;
  border-radius: 10px;
  background-color: #f45624;
  font-family: FreeSetBoldCyrillic;
  padding: 0 5px; }

.head {
  border-bottom: 1px solid #ecf1f5; }

.head__left,
.head__right {
  height: 80px;
  line-height: 80px; }

.head__right {
  font-size: 0; }

.logo {
  vertical-align: middle;
  text-decoration: none;
  outline: none;
  display: inline-block; }

.logo__img {
  width: 135px;
  display: block; }

.select-region {
  margin-right: 5px;
  font-size: 16px;
  margin-left: 60px;
  display: inline-block;
  vertical-align: middle; }

.phone {
  border-right: 1px solid #ecf1f5;
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.phone__icon {
  vertical-align: middle; }

.phone__value {
  margin-right: 35px;
  margin-left: 25px;
  font-size: 24px;
  color: #080a10;
  vertical-align: middle; }

.head-link {
  height: 100%;
  display: inline-block;
  border-right: 1px solid #ecf1f5;
  vertical-align: middle; }

.head-link__wrapper {
  vertical-align: bottom;
  line-height: initial;
  display: inline-block;
  text-align: center;
  padding: 0 10px 5px; }

.compare-link__wrapper {
  position: relative; }

.compare-link__count {
  position: absolute;
  right: 9px;
  top: -6px; }

.head-link__label {
  color: #080a10;
  margin-top: 10px;
  font-size: 12px; }

.menu {
  box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.1); }

.menu__item {
  line-height: 60px;
  font-family: FreeSetBoldCyrillic;
  color: #8f8f90;
  font-size: 16px;
  margin-left: 30px;
  text-decoration: none;
  display: inline-block; }
  .menu__item:first-child {
    margin-left: 0; }
  .menu__item:hover {
    color: #080a10; }

.menu__item_active {
  color: #080a10; }

.filter {
  margin-top: 40px;
  font-size: 0; }
  .filter > * {
    font-size: 14px; }

.select-country {
  width: 27%; }

.calendar,
.duration,
.peoples,
.room-count {
  border-left: none; }

.calendar {
  width: 15%;
  background: url("../img/calendar-icon.png") 90% 50% no-repeat;
  padding-right: 45px; }

.duration {
  position: relative;
  width: 12%; }

.duration-mark {
  position: absolute;
  top: -7px; }

.peoples,
.room-count {
  width: 14%; }

.peoples__icon {
  margin-right: 5px; }

.find-hotel-button {
  width: 17%; }

.minimal-prices {
  padding: 0 100px;
  margin-top: 30px;
  box-sizing: border-box;
  position: relative; }

.minimal-prices__items {
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 45px; }

.minimal-prices__left,
.minimal-prices__right {
  width: 60px;
  height: 60px;
  border: 1px solid #c8d5e1;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 23px; }

.minimal-prices__left {
  background: url("../img/arrow-left.png") no-repeat 50% 50%;
  left: 0; }

.minimal-prices__right {
  background: url("../img/arrow-right.png") no-repeat 50% 50%;
  right: 0; }

.minimal-prices-item {
  border: 1px solid #ecf1f5;
  border-radius: 15px;
  padding: 30px 20px;
  cursor: pointer;
  display: inline-block;
  margin-right: 40px; }

.minimal-prices-item_active,
.minimal-prices-item:hover {
  background-color: #ecf1f5;
  box-shadow: 0px 10px 29px -9px rgba(0, 0, 0, 0.25); }

.minimal-prices-item__month,
.minimal-prices-item__duration {
  color: #65686f;
  font-size: 14px; }

.minimal-prices-item__price {
  font-family: FreeSetBoldCyrillic;
  font-size: 16px;
  margin: 7px 0; }

.content__left {
  float: left;
  width: 360px; }
.content__right {
  margin-left: 400px; }

.show-selected-filters {
  background-color: #008f97;
  padding: 35px;
  color: white;
  font-size: 16px;
  font-family: FreeSetBoldCyrillic;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.show-selected-filters__icon {
  margin-right: 3px;
  vertical-align: middle; }

.show-selected-filters__label {
  vertical-align: middle; }

.side-filter {
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px; }

.side-filter-block {
  padding: 25px 40px 35px;
  border: 1px solid #ecf1f5;
  border-top: none; }
  .side-filter-block__head {
    font-family: FreeSetBoldCyrillic;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px; }
    .side-filter-block__head:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 6px;
      right: 0;
      top: 10px;
      background-image: url("../img/hide-arrow.png"); }
  .side-filter-block__price-between {
    display: inline-block;
    border: 1px solid #d8d8d8;
    position: relative;
    top: 9px;
    width: 20px;
    margin: 0 5px; }
  .side-filter-block__min-price-input, .side-filter-block__max-price-input {
    width: 115px; }
  .side-filter-block__label {
    margin-top: 25px;
    margin-bottom: 20px; }

.price-slider {
  margin-top: 30px; }

.select-hotel {
  width: 100%; }

.hotel-class-slider {
  margin-bottom: 20px; }

button.apply-filters-button {
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  margin: 0;
  height: 80px; }
  button.apply-filters-button:after {
    content: none;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }

.best-offer {
  padding: 40px;
  background-color: #ecf1f5;
  border-radius: 10px;
  text-align: center;
  margin-top: 40px;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.15); }

.best-offer__title {
  color: #080a0f;
  font-size: 24px;
  font-family: OpiumNewC; }

.best-offer__email {
  width: 100%;
  margin-top: 20px; }

button.best-offer__track-button {
  width: 100%;
  margin-top: 30px; }

.personal-data-confirm-checkbox {
  margin-top: 20px;
  display: block; }

.show-on-map {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #f2f6f9 url("../img/show-on-map-bg.png");
  height: 100px;
  line-height: 100px;
  text-align: center; }
  .show-on-map__text {
    font-family: FreeSetBoldCyrillic;
    font-size: 18px;
    color: 008f97;
    margin-right: 50px; }

.show-button {
  width: 160px; }

.sort {
  margin-top: 50px; }
  .sort__label {
    margin-right: 15px;
    font-size: 16px;
    vertical-align: middle; }
  .sort__field {
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
    vertical-align: middle; }
    .sort__field:hover, .sort__field_active {
      color: #008d95; }
  .sort__result-pre-page-select {
    width: 60px;
    vertical-align: middle;
    border-radius: 10px; }

.tour {
  margin-top: 40px;
  box-shadow: 0px 5px 23px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px; }

.tour__left {
  float: left;
  width: 280px;
  height: 280px;
  position: relative; }

.tour__hotel-img {
  width: 280px;
  height: 280px; }

.tour__left-mark,
.tour__right-mark {
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 20px; }

.tour__left-mark {
  background-color: #f45624;
  left: 20px; }

.tour__right-mark {
  background-color: #008f97;
  right: 20px; }

.tour__right {
  margin-left: 280px;
  padding: 30px 40px 25px 20px;
  overflow: hidden; }

.tour__hotel-and-payment:after,
.tour__address-and-old-price:after,
.tour__facilities-and-price:after {
  display: block;
  content: '';
  clear: both; }

.tour__hotel {
  font-family: FreeSetBoldCyrillic;
  font-size: 18px;
  float: left; }

.tour__payment-method {
  float: right; }

.tour__rating {
  padding-top: 10px;
  font-size: 16px;
  padding-bottom: 15px; }

.tour__reviews {
  color: #008d95; }

.tour__stars {
  display: inline-block;
  margin-left: 5px; }

.tour__address {
  float: left;
  color: #f45624;
  font-size: 16px; }

.tour__old-price {
  float: right;
  font-size: 18px;
  text-decoration: line-through;
  font-family: OpiumNewC; }

.tour__facilities-and-price {
  padding-top: 15px; }

.tour__facilities {
  float: left; }

.tour__facility {
  margin-right: 15px; }

.tour__price {
  float: right;
  color: #008d95;
  font-size: 24px;
  font-family: OpiumNewC; }

.tour__footer {
  padding-top: 15px; }

.tour__footer-left {
  float: left;
  color: #080a0f;
  font-size: 18px; }

.tour__footer-left-left {
  display: inline-block;
  margin-right: 30px; }

.tour__footer-left-right {
  display: inline-block; }

.tour__duration,
.tour__type {
  margin-bottom: 15px; }

.tour__footer-right {
  float: right; }

.compare-hotels-checkbox {
  display: block;
  margin-top: 10px; }

.compare-hotels-checkbox__appearance {
  width: 15px;
  height: 15px;
  margin-right: 10px; }

.compare-hotels-checkbox__label {
  color: #231f20;
  font-size: 14px; }

.choose-tour-button {
  width: 160px; }

.get-best-prices {
  margin-top: 40px;
  height: 175px;
  line-height: 175px;
  background: url("../img/get-best-prices-bg.png");
  border-radius: 10px;
  text-align: justify;
  padding: 0 40px;
  vertical-align: middle; }
  .get-best-prices:after {
    content: '';
    display: inline-block;
    width: 100%; }

.get-best-prices__text {
  display: inline-block;
  line-height: initial;
  font-family: FreeSetBoldCyrillic;
  font-size: 18px;
  color: white;
  width: 206px;
  vertical-align: middle; }

.get-best-prices-button {
  width: 180px; }

.pagination {
  text-align: center;
  margin: 45px 0; }

.pagination__label,
.pagination__page,
.pagination__points,
.pagination__next {
  margin-right: 10px;
  color: #d4d4d4;
  font-size: 16px;
  text-decoration: none;
  display: inline-block; }

.pagination__next:hover,
.pagination__page:hover {
  text-decoration: underline; }

.footer__top {
  border-top: 1px solid #ecf1f5;
  padding-top: 40px;
  padding-bottom: 30px; }

.footer__column {
  width: 170px;
  display: inline-block;
  margin-right: 110px;
  vertical-align: top; }

.footer__copyright {
  margin-top: 25px;
  color: #262424; }

.footer__social {
  margin-top: 35px;
  white-space: nowrap; }

.footer__social-link {
  margin-right: 40px;
  text-decoration: none;
  vertical-align: middle; }

.footer__social-img {
  vertical-align: middle; }

.footer__developer {
  margin-top: 60px; }

.footer__red-soft-logo {
  text-decoration: none;
  float: left;
  margin-right: 10px; }

.footer__red-soft-text {
  overflow: hidden;
  line-height: 30px;
  position: relative;
  top: -9px;
  color: #231f20; }

.footer__red-soft-link {
  text-decoration: none;
  color: #231f20; }
  .footer__red-soft-link:hover {
    text-decoration: underline; }

.footer__column-title,
.footer__column-item {
  text-decoration: none;
  color: #231f20;
  display: block;
  white-space: nowrap; }

.footer__column-title {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: FreeSetBoldCyrillic; }

.footer__column-item {
  margin-bottom: 15px; }

.footer__bottom {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ecf1f5; }

.footer__country {
  color: #262424;
  margin: 0 55px;
  text-decoration: none; }
  .footer__country:hover {
    text-decoration: underline; }

/*# sourceMappingURL=tour-search.css.map */
