.tour {
  margin-top: 40px;
  box-shadow: 0px 5px 23px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px; }

.tour__left {
  float: left;
  width: 280px;
  height: 280px;
  position: relative; }

.tour__hotel-img {
  width: 280px;
  height: 280px; }

.tour__left-mark,
.tour__right-mark {
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 20px; }

.tour__left-mark {
  background-color: #f45624;
  left: 20px; }

.tour__right-mark {
  background-color: #008f97;
  right: 20px; }

.tour__right {
  margin-left: 280px;
  padding: 30px 40px 25px 20px;
  overflow: hidden; }

.tour__hotel-and-payment:after,
.tour__address-and-old-price:after,
.tour__facilities-and-price:after {
  display: block;
  content: '';
  clear: both; }

.tour__hotel {
  font-family: FreeSetBoldCyrillic;
  font-size: 18px;
  float: left; }

.tour__payment-method {
  float: right; }

.tour__rating {
  padding-top: 10px;
  font-size: 16px;
  padding-bottom: 15px; }

.tour__reviews {
  color: #008d95; }

.tour__stars {
  display: inline-block;
  margin-left: 5px; }

.tour__address {
  float: left;
  color: #f45624;
  font-size: 16px; }

.tour__old-price {
  float: right;
  font-size: 18px;
  text-decoration: line-through;
  font-family: OpiumNewC; }

.tour__facilities-and-price {
  padding-top: 15px; }

.tour__facilities {
  float: left; }

.tour__facility {
  margin-right: 15px; }

.tour__price {
  float: right;
  color: #008d95;
  font-size: 24px;
  font-family: OpiumNewC; }

.tour__footer {
  padding-top: 15px; }

.tour__footer-left {
  float: left;
  color: #080a0f;
  font-size: 18px; }

.tour__footer-left-left {
  display: inline-block;
  margin-right: 30px; }

.tour__footer-left-right {
  display: inline-block; }

.tour__duration,
.tour__type {
  margin-bottom: 15px; }

.tour__footer-right {
  float: right; }

.compare-hotels-checkbox {
  display: block;
  margin-top: 10px; }

.compare-hotels-checkbox__appearance {
  width: 15px;
  height: 15px;
  margin-right: 10px; }

.compare-hotels-checkbox__label {
  color: #231f20;
  font-size: 14px; }

.choose-tour-button {
  width: 160px; }

.get-best-prices {
  margin-top: 40px;
  height: 175px;
  line-height: 175px;
  background: url("../img/get-best-prices-bg.png");
  border-radius: 10px;
  text-align: justify;
  padding: 0 40px;
  vertical-align: middle; }
  .get-best-prices:after {
    content: '';
    display: inline-block;
    width: 100%; }

.get-best-prices__text {
  display: inline-block;
  line-height: initial;
  font-family: FreeSetBoldCyrillic;
  font-size: 18px;
  color: white;
  width: 206px;
  vertical-align: middle; }

.get-best-prices-button {
  width: 180px; }

.pagination {
  text-align: center;
  margin: 45px 0; }

.pagination__label,
.pagination__page,
.pagination__points,
.pagination__next {
  margin-right: 10px;
  color: #d4d4d4;
  font-size: 16px;
  text-decoration: none;
  display: inline-block; }

.pagination__next:hover,
.pagination__page:hover {
  text-decoration: underline; }

/*# sourceMappingURL=tours.css.map */
