@mixin clear {
	clear: both;
}
.wrapper {
	max-width: 1160px;
	margin: 0 auto;
	&:after {
		content: '';
		display: block;
		@include clear;
	}
}
.left-column {
	float: left;
}
.right-column {
	float: right;
}
.pseudolink {
	font-family: FreeSetBoldCyrillic;
	color: #008f97;
	font-size: 16px;
	border-bottom: 1px dashed #008f97;
	cursor: pointer;

	&:hover {
		border-bottom: 1px solid #008f97;
	}
}
.mark {
	color: white;
	font-size: 13px;
	border-radius: 10px;
	background-color: #f45624;
	font-family: FreeSetBoldCyrillic;
	padding: 0 5px;
}