.content {
	&__left {
		float: left;
		width: 360px;
	}
	&__right {
		margin-left: 400px;
	}
}
.show-selected-filters {
	background-color: #008f97;
	padding: 35px;
	color: white;
	font-size: 16px;
	font-family: FreeSetBoldCyrillic;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.show-selected-filters__icon {
	margin-right: 3px;
	vertical-align: middle;
}
.show-selected-filters__label {
	vertical-align: middle;
}
.side-filter {
	box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.15);
	border-radius: 10px;
}
.side-filter-block {
	padding: 25px 40px 35px;
	border: 1px solid #ecf1f5;
	border-top: none;

	&__head {
		font-family: FreeSetBoldCyrillic;
		font-size: 18px;
		position: relative;
		cursor: pointer;
		margin-bottom: 20px;

		&:after {
			content: '';
			position: absolute;
			width: 10px;
			height: 6px;
			right: 0;
			top: 10px;
			background-image: url('../img/hide-arrow.png');
		}
	}

	&__price-between {
		display: inline-block;
		border: 1px solid #d8d8d8;
		position: relative;
		top: 9px;
		width: 20px;
		margin: 0 5px;
	}

	&__min-price-input,
	&__max-price-input {
		width: 115px;
	}

	&__label {
		margin-top: 25px;
		margin-bottom: 20px;
	}
}
.price-slider {
	margin-top: 30px;
}
.select-hotel {
	width: 100%;
}
.hotel-class-slider {
	margin-bottom: 20px;
}
button.apply-filters-button {
	border-radius: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 100%;
	margin: 0;
	height: 80px;

	&:after {
		content: none;
		border-radius: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}
.best-offer {
	padding: 40px;
	background-color: #ecf1f5;
	border-radius: 10px;
	text-align: center;
	margin-top: 40px;
	box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.15);
}
.best-offer__title {
	color: #080a0f;
	font-size: 24px;
	font-family: OpiumNewC;
}
.best-offer__email {
	width: 100%;
	margin-top: 20px;
}
button.best-offer__track-button {
	width: 100%;
	margin-top: 30px;
}
.personal-data-confirm-checkbox {
	margin-top: 20px;
	display: block;
}