.filter {
	margin-top: 40px;
	font-size: 0;

	& > * {
		font-size: 14px;
	}
}
.select-country {
	width: 27%;
}
.calendar,
.duration,
.peoples,
.room-count {
	border-left: none;
}
.calendar {
	width: 15%;
	background: url('../img/calendar-icon.png') 90% 50% no-repeat;
	padding-right: 45px;
}
.duration {
	position: relative;
	width: 12%;
}
.duration-mark {
	position: absolute;
	top: -7px;
}
.peoples,
.room-count {
	width: 14%;
}
.peoples__icon {
	margin-right: 5px;
}
.find-hotel-button {
	width: 17%;
}
