@font-face {
	font-family: 'FreeSetCyrillic';
	src: 	url('../fonts/FreeSetCyrillic.ttf') format('truetype'),
			url('../fonts/FreeSetCyrillic.woff') format('woff'),
			url('../fonts/FreeSetCyrillic.woff2') format('woff2');
}

@font-face {
	font-family: 'FreeSetBoldCyrillic';
	src: 	url('../fonts/FreeSetBoldCyrillic.ttf') format('truetype'),
			url('../fonts/FreeSetBoldCyrillic.woff') format('woff'),
			url('../fonts/FreeSetBoldCyrillic.woff2') format('woff2');
}

@font-face {
	font-family: 'OpiumNewC';
	src: 	url('../fonts/OpiumNewC.ttf') format('truetype'),
			url('../fonts/OpiumNewC.woff') format('woff'),
			url('../fonts/OpiumNewC.woff2') format('woff2');
}