.footer__top {
	border-top: 1px solid #ecf1f5;
	padding-top: 40px;
	padding-bottom: 30px;
}
.footer__column {
	width: 170px;
	display: inline-block;
	margin-right: 110px;
	vertical-align: top;
}
.footer__copyright {
	margin-top: 25px;
	color: #262424;
}
.footer__social {
	margin-top: 35px;
	white-space: nowrap;
}
.footer__social-link {
	margin-right: 40px;
	text-decoration: none;
	vertical-align: middle;
}
.footer__social-img {
	vertical-align: middle;
}
.footer__developer {
	margin-top: 60px;
}
.footer__red-soft-logo {
	text-decoration: none;
	float: left;
	margin-right: 10px;
}
.footer__red-soft-text {
	overflow: hidden;
	line-height: 30px;
	position: relative;
	top: -9px;
	color: #231f20;
}
.footer__red-soft-link {
	text-decoration: none;
	color: #231f20;

	&:hover {
		text-decoration: underline;
	}
}
.footer__column-title,
.footer__column-item {
	text-decoration: none;
	color: #231f20;
	display: block;
	white-space: nowrap;
}
.footer__column-title {
	margin-bottom: 20px;
	font-size: 16px;
	font-family: FreeSetBoldCyrillic;
}
.footer__column-item {
	margin-bottom: 15px;
}
.footer__bottom {
	padding: 20px;
	text-align: center;
	border-top: 1px solid #ecf1f5;
}
.footer__country {
	color: #262424;
	margin: 0 55px;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}