@mixin menu-item-active {
	color: #080a10;
}
.menu {
	box-shadow: 0px 5px 20px -3px rgba(0,0,0,0.1);
}
.menu__item {
	line-height: 60px;
	font-family: FreeSetBoldCyrillic;
	color: #8f8f90;
	font-size: 16px;
	margin-left: 30px;
	text-decoration: none;
	display: inline-block;
	&:first-child {
		margin-left: 0;
	}
	&:hover {
		@include menu-item-active;
	}
}
.menu__item_active {
	@include menu-item-active;
}
