.show-on-map {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: #f2f6f9 url('../img/show-on-map-bg.png');
	height: 100px;
	line-height: 100px;
	text-align: center;

	&__text {
		font-family: FreeSetBoldCyrillic;
		font-size: 18px;
		color: 008f97;
		margin-right: 50px;
	}
}

.show-button {
	width: 160px;
}