.sort {
	margin-top: 50px;

	&__label {
		margin-right: 15px;
		font-size: 16px;
		vertical-align: middle;
	}

	&__field {
		font-size: 16px;
		cursor: pointer;
		margin-right: 15px;
		vertical-align: middle;

		&:hover,
		&_active {
			color: #008d95;
		}
	}

	&__result-pre-page-select {
		width: 60px;
		vertical-align: middle;
		border-radius: 10px;
	}
}
